

div
{
font:100% normal Verdana,sans-serif; 
margin:0 auto;
width:500px;
background:gray;
position:center;
top:50px;
border:1px solid#262626;
color:red;
font-size:12px;
padding:5px 0 5px 5px;
border-bottom:1px solid#161712;
border-top:1px solid#161712;
text-align: center;
line-height: 200%;
}